INCLUDE("app_common.cfg");

#include "app.h"

DOMAIN(TDOM_APP) {
CRE_TSK(MAIN_TASK, { TA_ACT , 0, main_task, TMIN_APP_TPRI + 1, STACK_SIZE, NULL });
CRE_TSK(BT_TASK  , { TA_NULL, 0, bt_task  , TMIN_APP_TPRI + 2, STACK_SIZE, NULL });

CRE_TSK(SHUTDOWN_TASK , { TA_NULL, 0, shutdown_task  , TMIN_APP_TPRI + 3, STACK_SIZE, NULL });

// periodic task DATALOG_CYC
CRE_CYC(CYC_DATALOG_TSK, { TA_NULL, { TNFY_ACTTSK, DATALOG_TSK }, 5 * 1000, 0U });
CRE_TSK(DATALOG_TSK, { TA_NULL, 0, datalog_cyc, TMIN_APP_TPRI, STACK_SIZE, NULL });

}

ATT_MOD("app.o");
ATT_MOD("Run.o");
ATT_MOD("Controller.o");
ATT_MOD("app_Linetrace.o");
ATT_MOD("app_Slalom.o");
ATT_MOD("app_Block.o");